.SearchBar {
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
}

input {
    width: 60%;
    height: 30px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 15px;
    font-family: 'Montserrat Alternates', sans-serif;
}
select {
    padding: 5px;
    width: 20%;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    border: 1px solid #ccc;
    border-radius: 15px;
    font-family: 'Montserrat Alternates', sans-serif;
}